extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method ='post')
        lavel(for='id') ID:
        input#id(type = 'text' name = 'id') 
        br
        lavel(for='color') Color:
        input#color(type = 'text' name = 'color') 
        br
        lavel(for='modelo') Modelo:
        input#modelo(type = 'text' name = 'modelo') 
        br
        lavel(for='lat') Latitid:
        input#modelo(type = 'text' name = 'lat') 
        br
        lavel(for='lng') Longitud:
        input#modelo(type = 'text' name = 'lng') 
        br
        br
        input.btn(type='submit', value='OK')
